body {
    justify-content:center;
    align-items:center;
    background: #000;;
    display:flow-root;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .progress {
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: inline;
    height: 40px;
    width: 500px;
  }

  .progresl {
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: inline;
    height: 40px;
    width: 340px;
  }
  
  .progressm {
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: inline;
    height: 40px;
    width: 380px;
  }
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }
  
  @keyframes load {
    0% {
      width: 0;
    }
    100% {
      width: 68%;
    }
}
.Ciao{
    text-align: center;
}
  