body {
  justify-content: center;
  align-items: center;
  background: #000;
  display:inline-block;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content:0 ;
  border-radius: 100px;
  align-items:0;
  position:0;
  padding: 0 5px;
  display:0;
  height: 34px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 35px;
  width: 0;
  text-align: Center;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}